[Desktop Entry]
Version=1.0
Type=Application
Name=Launch Fullscreen Kiosk (Linux)
Comment=Open Web Kiosk in Fullscreen
Exec=sh -c '"$(dirname "$1")/LINUX-Run-In-Terminal.sh"' dummy %k
Icon=web-browser
Terminal=false
Categories=Utility;
